@charset "UTF-8";
html{ 
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
	}
*, *:before, *:after{
    -webkit-box-sizing:inherit;
       -moz-box-sizing:inherit;
            box-sizing:inherit;
	-webkit-text-size-adjust:none;
	}
/* TYPOGRAPHY */

body{background-color:#fbf8de; text-align:center; font-family: 'Raleway', sans-serif; color:#f6958f; font-size:35px}
body img{width:100%; height:100%; max-width:6em; max-height:6em}
h1{font-family: 'Permanent Marker', cursive; color:#906f7e; font-size:75px}
body a{text-decoration:none; color:white}
body a:hover{color:black; transition:ease .5s}
.banana{margin-right:13%}
.yogurt{margin-left:13%}
.kale{margin-left:auto; margin-right:auto}
.branding{font-size:30px}

.button{background-color:#f6958f; display:inline; padding-left:.5em; padding-right:.5em; margin-right:1em; margin-left:1em}

/* MEDIA QUERIES */
@media (max-width: 699px){ /* up to 699px wide */

.banana, .kale{margin-left:20%; margin-right:20%}
.yogurt{margin-left:30%}
.button{display:block;}

}
